@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ux5m4e');
  src:  url('fonts/icomoon.eot?ux5m4e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ux5m4e') format('truetype'),
    url('fonts/icomoon.woff?ux5m4e') format('woff'),
    url('fonts/icomoon.svg?ux5m4e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-down-arrow-fill:before {
  content: "\e901";
}
.icon-email-envelop:before {
  content: "\e902";
}
.icon-geo-alt-fill:before {
  content: "\e903";
}
.icon-google .path1:before {
  content: "\e904";
  color: rgb(66, 128, 239);
}
.icon-google .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(52, 163, 83);
}
.icon-google .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(246, 183, 4);
}
.icon-google .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(229, 67, 53);
}
.icon-location:before {
  content: "\e908";
}
.icon-mail-fill:before {
  content: "\e909";
}
.icon-person-fill:before {
  content: "\e90a";
  color: #ef4f5f;
}
.icon-search:before {
  content: "\e90b";
}
