.title-email-login {
    font-size: 28px;
    margin-left: 12px;
    font-weight: 500;
    color: rgb(28, 28, 28);
}

.icon-close {
    margin-right: 12px;
}

.icon-email-envelop {
    font-size: 84px;
    margin: 100px auto 0px;
    color: rgb(239, 79, 95);
}

.email-login-form-container {
    flex-direction: column;
    margin: 0px 12px;
    .input-email-login {
        cursor: pointer;
        padding: 0px 10px 0px 10px;
        height: 45px;
        border-radius: 5px;
        font-size: 18px;
        color: rgb(28, 28, 28);
        background: rgb(255, 255, 255);
        border: 0.1rem solid rgb(207, 207, 207);
        &:focus {
            outline-color: rgb(0, 153, 153);
        }
    }
    .btn-otp {
        height: 3rem;
        width: 100%;
        border-radius: 6px;
        margin-top: 30px;
        background: border-box rgb(239, 79, 95);
        border-color: rgb(239, 79, 95);
        border-style: solid;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 500;
    }
}

.text-email-login {
    color: rgb(54, 54, 54);
    font-size: 18px;
    margin: 16px 12px 30px 16px;
}

.link-email-login {
    color: rgb(239, 79, 95);
    cursor: pointer;
}
