.title-search {
    font-size: 20px;
    margin-left: 140px;
    font-weight: 500;
    color: rgb(79, 79, 79);
}

.icon-down-arrow-fill {
    color: rgb(255, 126, 139);
    margin-left: 5px;
    font-size: 20px;
}

/* The Close Button */
.icon-close {
    display: block;
    color: #1c1c1c;
    font-size: 25px;
    font-weight: bold;
    border: none;
    margin-left: 115px;
}

.search-bar-container {
    position: relative;
    margin-top: 30px;
    .input-search {
        cursor: pointer;
        padding: 0px 10px 0px 40px;
        width: 100%;
        height: 45px;
        border-radius: 5px;
        font-size: 18px;
        border: 1px solid rgb(207, 207, 207);
        color: rgb(28, 28, 28);
        background: rgb(255, 255, 255);
        border: 0.1rem solid rgb(207, 207, 207);
        &:focus {
            outline-color: rgb(181, 181, 181);
            ~ .label-search {
                position: absolute;
                top: -5px;
                left: 10px;
                font-size: 11px;
                padding: 0px 5px;
                color: rgb(181, 181, 181);
                background: rgb(255, 255, 255);
                transition: 0.2s ease 0s;
            }
        }
    }

    .icon-search {
        top: 15px;
        left: 15px;
        position: absolute;
        font-size: 16px;
        pointer-events: none;
    }

    .label-search {
        position: absolute;
        top: 15px;
        left: 44px;
        font-size: 18px;
        padding: 0px;
        color: rgb(181, 181, 181);
        background: rgb(255, 255, 255);
        pointer-events: none;
    }
}
