.signup-modal {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    // overflow: auto; /* Enable scroll if needed */
    background-color: rgb(28, 28, 28);
    opacity: 1;
    transition: opacity 0.25s ease 0s;
}

.signup-modal-content {
    background-color: rgb(255, 255, 255);
    margin: 50px 0px 0px 0px; /* 15% from the top and centered */
    padding: 9px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 100%;
    border-radius: 5px;
    opacity: 1;
    z-index: 1;
    overflow: hidden;
}

.signup-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup-header-title {
    font-size: 28px;
    // line-height: 4rem;
    margin: 5px 8px;
    font-weight: 500;
    color: rgb(79, 79, 79);
}

.signup-form {
    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
}
