.container {
    /* max-width: 90%; */
    margin: 0 auto;
    /* background-color: aqua; */
    /* height: 1rem; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /* position: sticky; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 6px -6px;
    z-index: 4;
    background-color: white;
}

.logo {
    width: 6.2rem;
    height: auto;
    margin-left: 7px;
}
